.background-container {
  background-size: cover;
  background-position: center;
}
.dark-background {
  background-image: url("./svg/darkBackground.svg");
}
.light-background {
  background-image: url("./svg/lightBackground.svg");
}
